body {
  /* background: rgb(0,0,255); */
  background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
  /*font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;*/
  font-family: Monospace;
  font-size: 14px;
  color: aliceblue;
}

h1 {
  font-size: 300%;
  /* background: -webkit-linear-gradient(left, rgb(17, 64, 182), #3F2B96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

h2 {
  font-size: 200%;
  /* background: -webkit-linear-gradient(left, rgb(17, 64, 182), #3F2B96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

p {
  font-size: 16px;
}

.right {
  float: right;
  width: 60%;
}

.left {
  width: 35%;
  float: left;
}

date {
  font-style: italic;
}

.info_box {
  background: #123456;
  border: 3px;
  border-style: outset;
  border-color: #A8C0FF;
  color: aliceblue;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info_header {
  font-size: 145%;
  text-align: center;
}

a:link {
  color: rgb(255, 0, 234);
}

a:visited {
  color: rgb(255, 0, 234);
}

#main_div {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

#main_title {
  animation-name: title_animation;
  animation-duration: 3s;
}

@keyframes title_animation {
  from {opacity: 0.0;}
  to {opacity: 1;}
}