body {
    background-color: #CCCCCC;
}

h1 {
    color: blue;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 350%;
}

.button {
    background-color: blue;
    border: none;
    border-radius: 9pt;
    color: white;
    cursor: pointer;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 150%;
    min-width: 425pt;
    padding: 10pt 50pt;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: -15 auto;
    padding: 15px;
}

#d-agree {
    background-color: #027508;
}

#agree {
    background-color: #00d10b;
}

#neutral {
    background-color: #FFFFFF;
    color: #000000;
}

#disagree {
    background-color: #e00b00;
}

#d-disagree {
    background-color: #8c0700;
}